@import "./styles/variables";

.banner {
    position: relative;
    max-width: 77.5em;
    margin: 3em 6em;
    &__img{
        height: 14rem;
        width: 100%;
        border-radius: 1.5rem;
        object-fit: cover;
        filter: brightness(0.7);
    }
    &__text {
        position: absolute;
        color: var(--white);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        line-height: 70px;
        width: 705px;
    }
}