.carousel {
    position: relative;
    &__image {
        height: 415px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    &__arrow-left{
        left: 20px;
        top: 40%;
        position: absolute;
    }
    &__arrow-right{
        position: absolute;
        top: 40%;
        right: 20px;
    }
    &__counter {
        position: absolute;
        top: 90%;
        left: 50%;
        font-size: 1.5rem;
        color: var(--white);
    }
}