.collapse {
    display: flex;
    flex-direction: column;
    margin: 2rem 13rem;
    &__toggle {
        display: flex;
        justify-content: space-between;
        background-color: var(--first-color);
        color: var(--white);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        padding: 10px 20px 10px 15px;
        border: none;
        border-radius: 5px;
    }
    &__content {
        background-color: var(--second-color);
        color: var(--first-color);
        overflow: hidden;
        transition: height ease 0.9s;
        &--child {
            font-size: 1.125rem;
            padding: 1rem;
            line-height: 25.67px;
        }
    }
}
.rotate {
    transform: rotate(180deg);
    transition: transform 0.8s ease-in-out;
}
.rotate-back {
    transform: rotate(0deg);
    transition: transform 0.8s ease-in-out;
}