@import "./styles/variables";

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    background-color: var(--second-color);
    gap: 3rem;
    border-radius: 1.5rem; 
    margin: 3rem 6rem;
    padding: 3rem;
    align-items: center;
    justify-items: center;
}