@import "./styles/variables";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.25em;
    margin: 3em 6em;
    .link {
        color: var(--first-color);
        text-decoration: none;
        font-size: 1.5em;
        padding-left: 2em;
    }
    .active {
        text-decoration: underline;
    }
}
