.sheet-wrap {
    margin: 0 6rem;
}

.collapse__container--sheet {
    display: flex;
    justify-content: space-between;
    & .collapse__toggle {
        display: flex;
        align-items: center;
        height: 52px;
        border-radius: 0.625rem;
        &--title {
            font-size: 1.125rem;
        }
    }
    & .collapse__content {
        width: 582px;
    }
}