@import "./styles/variables";

.banner-home {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/img-banner.png);
    background-position: center;
    border-radius: 25px;
    height: 223px;
    max-width: 1240px;
    margin: 3em 6em;
    /* margin-bottom: 3em; */
    &--text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 48px;
        padding-top: 1.7em;
    }
}