@import "../sass/styles/variables";

.error {
    color: $first-color;
    text-align: center;
    &__code {
        font-size: 18rem;
        margin: 10rem 0;
    }
    &__text {
        font-size: 2.25em;
    }
    &__link {
        margin: 10rem;
        &--text {
            color: $first-color;
            font-size: 1.125em;
        }
    }
}