@import '../util';

.banner {
    position: relative;
    margin: 1rem;
    @include md {
        margin: 3rem 6rem;
    }
    &__img{
        height: 7rem;
        width: 100%;
        border-radius: 0.625rem;
        object-fit: cover;
        filter: brightness(0.8);
        @include md {
            height: 14rem;
            border-radius: 1.5rem;
        }
    }
    &__text {
        position: absolute;
        color: var(--white);
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        width: 217px;
        @include md {
            left: 50%;
            font-size: 48px;
            width: max-content;
        }
    }
}