@use '../util/' as u;

.card {
    position: relative;
    border-radius: 1.5rem;
    height: 22rem;
    width: 22rem;
    color: var(--white);
    @include u.breakpoint(small) {
        height: 16rem;
    }
    &__image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 1.5rem;
        filter: brightness(0.7);
    }
    &__text {
        width: 60%;
        font-size: 1.125rem;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}