@import '../util';

.card {
    position: relative;
    height: 16rem;
    width: 100%;
    color: $white;
    @include md {
        height: 21.25rem;
    }
    &__image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 0.625rem;
        filter: brightness(0.7);
    }
    &__text {
        position: absolute;
        width: 60%;
        font-size: 1.125rem;
        bottom: 1rem;
        left: 1rem;
    }
}