@import '../util/';

.collapse__container {
    &--about {
        margin: 0 1rem;
        @include md {
            margin: 0 13rem;
        }
    }
    &--sheet {
        display: grid;
        @include md {
            grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
            gap: 4rem;
        }
    }
}

.collapse {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    &__button {
        display: flex;
        justify-content: space-between;
        background-color: $first-color;
        color: $white;
        border: none;
        border-radius: 0.3rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        padding: 10px;
        z-index: 1;
        @include md {
            padding: 15px;
            border-radius: 0.625rem;
            font-size: 1.125rem;
        }
    }
    & i {
       font-size: 1rem;
       @include md {
            font-size: 1.5rem;
       }
    }
    .rotate {
        transform: rotate(-180deg);
        transition: transform 0.8s ease-in-out;
    }
    .rotate-back {
        transform: rotate(0deg);
        transition: transform 0.8s ease-in-out;
    }
    &__content {
        background-color:$second-color;
        overflow: hidden;
        transition: height ease 0.9s;
        margin-top: -3px;
        margin-bottom: 1.5rem;
        border-radius: 0 0 0.3rem 0.3rem;
        z-index: 0;
        @include md {
            margin-bottom: 2rem;
            border-radius: 0 0 0.625rem 0.625rem;
        }
        &--child {
            color: $first-color;
            font-size: 0.75rem;
            padding: 1rem;
            line-height: 1.06rem;
            @include md {
                font-size: 1.125rem;
                line-height: 1.60rem;
            }
            
        }
    }
}