@import "./styles/variables";
@import "./styles/mixins";

.wrapper {
  background-color: $background-color;
  color: $text-color;
  padding: $block-padding;
  &__btns {
    @include vertical-list;
    button {
      width: $btn-width;
      height: $btn-height;
    }
  }
}

.bleu {
  background-color: $btn-color-blue;
}

.red {
  background-color: $btn-color-red;
}

.green {
  background-color: $btn-color-green;
}
